@import url('https://fonts.googleapis.com/css?family=Cabin:ital,wght@0,500;0,600;1,400;1,500&display=swap');

.App {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: #F5317A;
  background-color: white;
  border: 0;
  border-radius: 3rem; 
  padding: 2.5rem 2rem 2rem 2rem;
  font-family:'Cyrene', sans-serif;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 5rem;
  border: 3px solid black;
}

button span {
  color: #F96707;
}
